# Azure Pipeline that runs basic continuous integration on a Terraform project

# This makes sure the pipeline is triggered every time code is pushed in the validation-testing example source, on all branches.
trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'europe/auto-scale/*'

variables:
  group: vargroup1
  terraformWorkingDirectory: '$(System.DefaultWorkingDirectory)/europe/auto-scale'
  terraformVersion: '1.6.5'
  serviceConnection: 'AwsSapperCIDev01'

stages:
  - stage: TerraformContinuousIntegration

    displayName: Terraform Module - CI
    jobs:
    - job: TerraformContinuousIntegrationJob
      displayName: TerraformContinuousIntegration - CI Job
      pool:
        vmImage: ubuntu-latest
      steps:
        - bash: |
            git config --global url."https://$SYSTEM_ACCESSTOKEN@dev.azure.com" "AUTHORIZATION: bearer $(System.AccessToken)"
          displayName: 'Set Git Config'

        - task: InstallSSHKey@0
          displayName: 'Install an SSH key'
          inputs:
            knownHostsEntry: 'SHA256:1Hyr55tsxGifESBMc0s+2NtutnR/4+LOkVwrOGrIp8U johndoe@contoso'
            sshPublicKey: '$(myPubKey)'
            sshKeySecureFile: 'id_rsa'

        - task: TerraformTaskV1@0
          displayName: 'Terraform init'
          inputs:
            provider: 'aws'
            command: 'init'
            workingDirectory: '$(terraformWorkingDirectory)'
            backendServiceAWS: 'AWS for Terraform'
            backendAWSBucketName: 'terraform-state-sapper-s3'
            backendAWSKey: 'state/terraform.tfstate'