# Azure Pipeline that runs basic continuous integration on a Terraform project

# This makes sure the pipeline is triggered every time code is pushed in the validation-testing example source, on all branches.
trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'europe/auto-scale/*'

variables:
  # There must be an Azure Service Connection with that name defined in your Azure DevOps settings. See https://docs.microsoft.com/en-us/azure/devops/pipelines/library/connect-to-azure?view=azure-devops
  serviceConnection: 'AwsSapperCIDev01'
  #azureLocation: 'westeurope'
  # Terraform settings
  terraformWorkingDirectory: '$(System.DefaultWorkingDirectory)/europe/auto-scale'
  terraformVersion: '1.6.5'

stages:
  - stage: TerraformContinuousIntegration
    displayName: Terraform Module - CI
    jobs:
    - job: TerraformContinuousIntegrationJob
      displayName: TerraformContinuousIntegration - CI Job
      pool:
        vmImage: ubuntu-latest
      steps:
        - bash: |
            git config --global url."https://$SYSTEM_ACCESSTOKEN@dev.azure.com" "AUTHORIZATION: bearer $(System.AccessToken)"
          displayName: 'Set Git Config'
          
        - task: TerraformTaskV1@0
          displayName: 'Terraform init'
          inputs:
            provider: 'aws'
            command: 'init'
            workingDirectory: '$(terraformWorkingDirectory)'
            backendServiceAWS: 'AWS for Terraform'
            backendAWSBucketName: 'terraform-state-sapper-s3'
            backendAWSKey: 'state/terraform.tfstate'
